
.card {
    background-color: #FFFFFF;
    width: 384px;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(8px 8px);
}

.card:hover {
    filter: drop-shadow(16px 16px);
}

@media only screen and (max-width: 430px) {
    .card {
        width: 327px;
        height: auto;
    }
}